@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0c0c0c;
  overflow-x: hidden;
  color: #fff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

.wrapper {
  padding: 2rem;
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334fef;
  border-radius: 8px;
}

table {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-collapse: collapse;
}

th,
td {
  padding: 0.7rem 1rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(20px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}
.animate-fade-out {
  animation: fade-out 0.2s ease-out;
}
.animate-slide-up {
  animation: slide-up 0.2s ease-out;
}
.animate-slide-down {
  animation: slide-down 0.2s ease-out;
}

@media (max-width: 767px) {
  .wrapper {
    padding: 1rem;
  }
}
