@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #181818;
  overflow-x: hidden;
  color: #fff;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.17rem;
}

h4 {
  font-size: 1rem;
}

h5 {
  font-size: 0.83rem;
}

.wrapper {
  padding: 2rem;
  overflow: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #334fef;
  border-radius: 8px;
}

table {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-collapse: collapse;
}

th,
td {
  padding: 0.7rem 1rem;
}
